@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,400;1,500&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: rgb(225, 225, 225);
  width: 100%;
}

.form-control {
  border: 1px solid #000;
  width: 500px;
}

.form-home {
  margin-left: 11%;
}

.label-text {
  font-weight: 600;
}

.navbar-nav {
  margin-left: 720px;
  display: flex;
  gap: 1px;
}

.left-content {
  margin-top: 200px;
  text-transform: uppercase;
  display: block;
}

.det-container {
  margin-top: 120px;
}

.highlighted-row {
  background-color: yellow;
}

.table-content {
  margin-top: 120px;
}
